In [1]:
import modin.pandas as pd
import time
import json
import re
import os

In [6]:
annotated_data_dir = "C:\\Users\\eshad\\OneDrive\\Desktop\\TU Delft\\Thesis\\Web Scrape PoC\\Data\\6. Annotated Data with Job Titles\\Batch 1\\"
output_dir = "C:\\Users\\eshad\\OneDrive\\Desktop\\TU Delft\\Thesis\\Web Scrape PoC\\Data\\7. Deduplicated data\\Batch 2\\"

In [7]:
df = pd.read_csv(os.path.join(output_dir, "annotated_data_2020_batch_2_removed_words.csv"))
print(len(df))
df.head()

17474

,Unnamed: 0,jobPostingId,companyDetails,title,description,workRemoteAllowed,formattedLocation,work_model,soc_code,year,...,count_fem_words,score,gender_category,equal_opportunity_employer,masc_pronouns_count,fem_pronouns_count,neutral_pronouns_count,fem_words_list,masc_words_list,role
0,0,1737371447,{'com.linkedin.voyager.deco.jobs.web.shared.We...,Full Stack .Net Developer with Angular,Seeking strong hands on full stack .Net Develo...,False,"Desamparados, San Jose, Costa Rica",NaN,213.0,2020,...,2,0.549834,fem,0,0,0,0,"['excellent', 'communication']","['excellent', 'mentor']",Full-Stack Developer
1,1,1737366299,{'com.linkedin.voyager.deco.jobs.web.shared.We...,Data Analyst/Project Coordinator,Our client in Boston is working on developing ...,False,Greater Boston,NaN,213.0,2020,...,2,0.324464,masc,1,0,0,0,"['excellent', 'value']","['excellent', 'professional', 'coordinate', 'c...",Data or Business Analyst
2,2,1737354227,{'com.linkedin.voyager.deco.jobs.web.shared.We...,AWS Devops,Position OverviewAWS DevOps Requirements: AWS ...,False,"San Ramon, CA",NaN,NaN,2020,...,3,0.535654,fem,0,0,0,0,"['implement', 'excellent', 'communication']","['excellent', 'individual']",DevOps Specialist
3,3,1737349751,{'com.linkedin.voyager.deco.jobs.web.shared.We...,DevOps Architect,Publix is seeking a DevOps Architect supportin...,False,"Lakeland, FL",NaN,243.0,2020,...,4,0.477288,masc,0,0,0,0,"['excellent', 'communication', 'commitment']","['successful', 'control', 'excellent', 'drive'...",DevOps Specialist
4,4,1737349049,{'com.linkedin.voyager.deco.jobs.web.shared.We...,Oracle Database Administrator,Do you want to gain valuable skills and experi...,False,"Plano, TX",NaN,313.0,2020,...,1,0.388281,masc,1,0,0,0,"['responsibility', 'committed']","['challenge', 'strategy', 'command', 'individu...",Database Administrator

In [8]:
len(df[df['Company ID']=='25068336'])

3980

In [9]:
df_no_dupes = df.drop_duplicates(subset = ['title','description'], keep='first')
len(df_no_dupes)

17474

In [10]:
df_no_dupes = df_no_dupes[df_no_dupes['Company ID']!='25068336']
len(df_no_dupes)

13494

In [11]:
df_no_dupes.head()

,Unnamed: 0,jobPostingId,companyDetails,title,description,workRemoteAllowed,formattedLocation,work_model,soc_code,year,...,count_fem_words,score,gender_category,equal_opportunity_employer,masc_pronouns_count,fem_pronouns_count,neutral_pronouns_count,fem_words_list,masc_words_list,role
0,0,1737371447,{'com.linkedin.voyager.deco.jobs.web.shared.We...,Full Stack .Net Developer with Angular,Seeking strong hands on full stack .Net Develo...,False,"Desamparados, San Jose, Costa Rica",NaN,213.0,2020,...,2,0.549834,fem,0,0,0,0,"['excellent', 'communication']","['excellent', 'mentor']",Full-Stack Developer
1,1,1737366299,{'com.linkedin.voyager.deco.jobs.web.shared.We...,Data Analyst/Project Coordinator,Our client in Boston is working on developing ...,False,Greater Boston,NaN,213.0,2020,...,2,0.324464,masc,1,0,0,0,"['excellent', 'value']","['excellent', 'professional', 'coordinate', 'c...",Data or Business Analyst
2,2,1737354227,{'com.linkedin.voyager.deco.jobs.web.shared.We...,AWS Devops,Position OverviewAWS DevOps Requirements: AWS ...,False,"San Ramon, CA",NaN,NaN,2020,...,3,0.535654,fem,0,0,0,0,"['implement', 'excellent', 'communication']","['excellent', 'individual']",DevOps Specialist
3,3,1737349751,{'com.linkedin.voyager.deco.jobs.web.shared.We...,DevOps Architect,Publix is seeking a DevOps Architect supportin...,False,"Lakeland, FL",NaN,243.0,2020,...,4,0.477288,masc,0,0,0,0,"['excellent', 'communication', 'commitment']","['successful', 'control', 'excellent', 'drive'...",DevOps Specialist
4,4,1737349049,{'com.linkedin.voyager.deco.jobs.web.shared.We...,Oracle Database Administrator,Do you want to gain valuable skills and experi...,False,"Plano, TX",NaN,313.0,2020,...,1,0.388281,masc,1,0,0,0,"['responsibility', 'committed']","['challenge', 'strategy', 'command', 'individu...",Database Administrator

In [12]:
df_no_dupes.to_csv(os.path.join(output_dir, 'annotated_data_2020_batch_2_removed_words.csv'), index=False)